.skills-p {
  margin-top: 10%;
  text-align: center;
}

.skills li {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px 5px 15px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  margin: 5%;
}

ul {
  list-style-type: none;
}

.img-project {
  width: 350px;
  height: 200px;
  border-radius: 5px;

  margin: auto;
}

button {
  width: 30%;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 0 10% 0% 10%;
  margin: 40px auto 60px;
}

article {
  border: solid 1px grey;
  border-radius: 5px;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.project-description {
  padding: 10%;
}

/* ul {
  margin: 20px auto 20px auto;
  list-style-type: none;
} */

.middle-container {
  padding-top: 80px;
}

.navbar {
  background-color: #e4f9f5;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

h1 {
  font-size: 5.626rem;
  margin: 0 auto 0 auto;
  padding-top: 60px;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

span {
  text-decoration: underline;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #d6d4ce 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

p {
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 2%;
  position: relative;
}

.profile {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66bfbf;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 180px;
  top: 3%;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  width: 10%;
  margin: auto;
}

.skills-img {
  margin: auto;
  width: 50%;
  /* float: left; */
  /* margin-right: 30px; */
}

.qualification-img {
  width: 50%;
  /* float: right; */
  /* margin-right: 30px; */
}

.copyright-text {
  margin-bottom: 0;
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

@media (max-width: 720px) {
  .projects-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
